
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>We-up 관리자</title>

  <!-- Custom fonts for this template -->
  <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<style>
	.form-control-user {
		width: 400px;
		margin: 0 auto;
	}
	
	.btn-user {
		width: 400px;
	}
</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <th:block th:replace="/../hf/sidebar.html"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content"> <th:block th:replace="/../hf/header.html"></th:block>

		<th:block th:if="${type == 1}">
		
			<!-- Begin Page Content -->
	        <div class="container-fluid">
	        
	          <!-- Page Heading -->
	          <h1 class="text-gray-800 head_title">관리자 계정 관리</h1>
	
	          <!-- DataTales Example -->
	          <div class="card shadow mb-4">
	            <div class="col-xs-12 bd-top-gr">
	            <div class="flex-between mb_top_30">
	           		<h2 class="card_title">관리자 목록</h2>
	           		<div class="btn_right">
                		<button type="button" id="delete-target" class="btn delete_btn" onclick="delete_target();">X 선택항목 삭제</button>
                	</div>
	       		</div>
	       		
	              <div class="table-responsive">
	                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                  <thead>
	                    <tr>
	                      <th><input type="checkbox" id="txn-checkbox" class="check-all"></th>
	                      <th>#</th>
	                      <th>관리자명</th>
	                      <th>ID</th>
	                      <th>E-mail</th>
	                      <th>연락처</th>
	                      <th>정보 변경</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                     <!-- <tr th:each=" al : ${list}">
	                     	<td><input type="checkbox" name="mem_id" id="user-checkbox" class="list-checkBox" th:value="${al.mem_id}"></td>
	          				<td><span th:text="${al.mem_id}"></span></td>
	         	 			<td><span class="name" th:id="${al.mem_id}" th:text="${al.mem_username}"></span></td>
	          				<td><span th:text="${al.mem_name}"></span></td>
	          				<td><span th:text="${al.mem_email}"></span></td>
	          				<td><span th:text="${al.mem_phone}"></span></td>
	          				<td><a th:href="'/modify_admin?mem_id=' + ${al.mem_id}">수정</a></td>
	          			</tr> -->
	                  </tbody>
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
	        <!-- /.container-fluid -->
		</th:block>
		
		<th:block th:unless="${type == 1}">
		
			<!-- Nested Row within Card Body -->
	        <div class="row" style="margin-left:30% !important;">
	          <div class="col-lg-7">
	            <div class="p-5">
	              <div class="text-center">
	                <h1 class="h4 text-gray-900 mb-4">We-up 관리자 수정</h1>
	              </div>
	              <!-- <form action="modify_admin_ok" method="POST" class="user" th:object="${Info}">
	              	<input type="hidden" name="mem_id" th:field="*{mem_id}">
	                <div class="form-group row">
	                  <div class="col-sm-6 form-group mb-sm-0">
	                    <input type="text" class="form-control form-control-user" name="mem_name" id="exampleFirstName" th:field="*{mem_name}" placeholder="ID">
	                  </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_username" id="exampleInputPassword" th:field="*{mem_username}" placeholder="NAME">
	                </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_email" id="exampleInputPassword" th:field="*{mem_email}" placeholder="E-MAIL">
	                </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_phone" id="exampleRepeatPassword" th:field="*{mem_phone}" placeholder="PHONE NUMBER">
	                </div>
	                </div>
	                	<button type="submit" class="btn btn-primary btn-user btn-block">수정</button>
	              </form> -->
	              
	              <form action="modify_admin_ok" method="POST" class="user">
	              	<input type="hidden" name="mem_id">
	                <div class="form-group row">
	                  <div class="col-sm-6 form-group mb-sm-0">
	                    <input type="text" class="form-control form-control-user" name="mem_name" id="exampleFirstName" placeholder="ID">
	                  </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_username" id="exampleInputPassword" placeholder="NAME">
	                </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_email" id="exampleInputPassword" placeholder="E-MAIL">
	                </div>
	                </div>
	                <div class="form-group row">
	                <div class="col-sm-6 mb-3 mb-sm-0">
	                  <input type="text" class="form-control form-control-user" name="mem_phone" id="exampleRepeatPassword" placeholder="PHONE NUMBER">
	                </div>
	                </div>
	                	<button type="submit" class="btn btn-primary btn-user btn-block">수정</button>
	              </form>
	            </div>
	          </div>
	        </div>
	        
		</th:block>
		
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; We-up 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Bootstrap core JavaScript-->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../js/demo/datatables-demo.js"></script>
  
  <script>
  //체크 항목 삭제
  function delete_target() {
	  
		var checkArray = [];
		
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 관리자 계정을 삭제하시겠습니까?') == true) {
			$.ajax({
	  			url : 'delete_admin_ajax',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
  
  // 모든 항목 체크
  $(".check-all").click(function() {
		$(".list-checkBox").prop('checked', this.checked); 
  });
  </script>
</body>

</html>
