**/node_modules/
mediaProcess-nodejs/*.txt
**/resource/
mediaProcessNode/*.txt
mediaProcessNode/*.mp4
**/public/
**/tmp/
**/package-lock.json
clllap-react/package-lock.json
clllap-react/yarn.lock
gitignore
/.metadata/
react-native-ffmpeg-test/index.js.rej
*.hprof
clllap/bin/main/com/app/clllap/ClllapApplication.class
clllap/bin/main/com/app/clllap/ServletInitializer.class
clllap/bin/main/com/app/clllap/config/SecurityConfig.class
clllap/bin/main/com/app/clllap/config/WebMvcConfig.class
clllap/bin/main/com/app/clllap/constant/Auth.class
clllap/bin/main/com/app/clllap/constant/ErrorCode$ErrorCategory.class
clllap/bin/main/com/app/clllap/constant/ErrorCode.class
clllap/bin/main/com/app/clllap/constant/Status.class
clllap/bin/main/com/app/clllap/controller/api/media/APIMediaController.class
clllap/bin/main/com/app/clllap/controller/api/user/APIAuthController.class
clllap/bin/main/com/app/clllap/controller/api/user/APIUserController.class
clllap/bin/main/com/app/clllap/controller/media/MediaController.class
clllap/bin/main/com/app/clllap/controller/user/AuthController.class
clllap/bin/main/com/app/clllap/controller/user/UserController.class
clllap/bin/main/com/app/clllap/dto/APIDataResponse.class
clllap/bin/main/com/app/clllap/dto/APIErrorResponse.class
clllap/bin/main/com/app/clllap/dto/MediaDto.class
clllap/bin/main/com/app/clllap/dto/UserDto.class
clllap/bin/main/com/app/clllap/repository/media/MediaRepository.class
clllap/bin/main/com/app/clllap/repository/user/UserRepository.class
clllap/bin/main/com/app/clllap/service/media/MediaService.class
clllap/bin/main/com/app/clllap/service/media/MediaServiceImpl.class
clllap/bin/main/com/app/clllap/service/user/UserService.class
clllap/bin/main/com/app/clllap/service/user/UserServiceImpl.class
clllap/bin/main/com/app/clllap/util/exception/GeneralException.class
clllap/bin/main/com/app/clllap/util/exception/handler/APIExceptionHandler.class
clllap/bin/main/com/app/clllap/util/exception/handler/BaseExceptionHandler.class
clllap/bin/main/com/app/clllap/util/mail/MailService.class
clllap/bin/main/com/app/clllap/vo/Media.class
clllap/bin/main/com/app/clllap/vo/MediaAndMusic.class
clllap/bin/main/com/app/clllap/vo/MediaImage.class
clllap/bin/main/com/app/clllap/vo/Music.class
clllap/bin/main/com/app/clllap/vo/QnA.class
clllap/bin/main/com/app/clllap/vo/QnAComment.class
clllap/bin/main/com/app/clllap/vo/Theme.class
clllap/bin/main/com/app/clllap/vo/User.class
