<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clllap.admin.mapper.MediaMapper">

    <select id="uploadMediaCount" resultType="int">
        SELECT COUNT(media_id)
        FROM media
        WHERE media_type = 'video'
    </select>

</mapper>
