<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>용된다 관리자</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<style>
	th, tr, td {
		text-align: center;
	}
	input {
		width:200px;
	}
</style>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <th:block th:replace="/../hf/sidebar.html"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content"> <th:block th:replace="/../hf/header.html"></th:block>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="text-gray-800 head_title">자주묻는질문 카테고리 등록</h1>
          <div class="card shadow mb-4">
	          <form action="insertfaqcatok">
	            <table class="table table-bordered" id="dataTable" style="width:50%;cellspacing:0;margin:auto;">
	              <tbody>
	                  <tr>
	                  	<td>카테고리 명</td>
	                  	<td><input name="faq_cat_name" type="text" class="form-control form-control-sm"></td>
	                  </tr>
	                  <tr>
	                  	<td>FAQ 메인 정렬 순서</td>
	                  	<td><input name="faq_cat_parent" type="text" class="form-control form-control-sm" placeholder="숫자만 입력해주세요(예 : 1)"></td>
	                  </tr>
	              </tbody>
	            </table>
	            <div class="btn_list">
	          	 <button type="submit" class="btn blue_btn submit_btn">등록</button>
	          	 <a th:href="faqlist" class="btn gray_btn cancel_btn">취소</a>
	          	</div>
	          	</form>
	          	<br>
	          	
	          	<div class="col-xs-12 bd-top-gr" style="padding-top:25px;">
		          	<table class="table table-bordered" id="dataTable" style=width:100%;>
		             <thead>
		               <tr>
		                 <th><input type="checkbox" id="txn-checkbox" class="check-all"></th>
		                 <th>#</th>
		                 <th>카테고리 명</th>
		                 <td>FAQ 메인페이지 정렬순서</td>
		               </tr>
		             </thead>
		             <tbody>
		                <tr th:each="fc : ${savefaqcat}">
		                	<td style="width:4%"><input type="checkbox" name="faq_cat_id" id="txn-checkbox" class="list-checkBox" th:value="${fc.faq_cat_id}"></td>
		     				<td><span th:text="${fc.faq_cat_id}"></span></td>
		    	 			<td><span th:text="${fc.faq_cat_name}"></span></td>
		    	 			<td><span th:text="|${fc.faq_cat_parent}번|"></span></td>
		     			</tr>
		             </tbody>
		           </table>
		           <button type="button" class="btn delete_btn" onclick="delete_target()">X 선택항목 삭제</button>
	           </div>
           </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Yongdeanda 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script>
  //체크 항목 삭제
  function delete_target() {
		var checkArray = [];
		$('.list-checkBox:checked').each(function(i) {
			checkArray.push($('.list-checkBox:checked:eq('+i+')').val());
		});
		
		console.log(checkArray);
		if (confirm('선택된 카테고리 항목을 삭제하시겠습니까?') == true) {
			$.ajax({
	  			url : 'deletefaqcatajax',
	  			type : 'POST',
	  			dataType : 'json',
	  			data : {
	  				'checkedData' : checkArray
	  				},
	  			success : function(data) {
	  				location.reload();
	  			}
	  		});
		} else {
			return false;
		}
	}
  
  
  
  $(".check-all").click(function() {
	$(".list-checkBox").prop('checked', this.checked); 
  });
  </script>
</body>

</html>
