<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>We-up 관리자</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<style>
	.search_top {
		border-top: 1px solid #ccc;
	}
	
	.search_th {
		width: 20%;
		background: rgba(78, 125, 223, 0.2);
		text-align: center;
		border-bottom: 1px solid #ccc;
	}
	
	tr, td {
		border: 1px solid #ccc;
		padding: 7px;
	}
	
	table {
		width: 100%;
	}
	
	.btn-search {
		margin-top: 10px;
		margin-left: 44%;
	}
	
	.btn-reset {
		margin-top: 10px;
	}

</style>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="/../hf/sidebar.html"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:replace="/../hf/header.html"></th:block>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">신고관리</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <!-- <div class="card-header py-3">
                        <div class="card-body">
                            <div class="search_area">
                                <form id="searchUser_form" method="POST">
                                    <table class="search">
                                        <tbody>
                                        <tr>
                                            <th class="search_th search_top" style="width:20%;">기간</th>
                                            <td colspan="3">
                                                <span><input type="date" name="mem_create_date1"
                                                             id="start_date"></span>
                                                ~
                                                <span><input type="date" name="mem_create_date2" id="end_date"></span>
                                                <span><button type="button" id="today"
                                                              class="date_search_btn">오늘</button></span>
                                                <span><button type="button" id="week"
                                                              class="date_search_btn">최근7일</button></span>
                                                <span><button type="button" id="thisMonth"
                                                              class="date_search_btn">당월</button></span>
                                                <span><button type="button" id="prevMonth"
                                                              class="date_search_btn">전월</button></span>
                                                <span><button type="button" id="3month"
                                                              class="date_search_btn">3개월</button></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="search_th search_top" style="width:20%;">검색어 (이메일 입력)</th>
                                            <td>
                                                <div class="rows">
                                                    <input type="text" id="detail_search" name="mem_email"
                                                           style="width:50%;">
                                                </div>
                                            </td>
                                            <th class="search_th search_top">상태</th>
                                            <td>
                                                <select id="mem_deleted" name="mem_deleted" style="width:120px;height:30px;">
                                                    <option value=2>전체</option>
                                                    <option value=0>활성</option>
                                                    <option value=1>비활성</option>
                                                </select>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="btn_list">
                                        <button id="searchUser_btn" type="button" class="search_btn" value="검색">검색</button>
                                        <button type="button" class="reset_btn" onclick="location.href='userList'">초기화</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> -->


                    <div class="card-header py-3">
                        <div class="card-body">
                            <div class="search_area">
                                    <table class="search">
                                        <tr>
                                            <th>전체 신고수</th>
                                        </tr>
                                        <tr>
                                            <td><span th:text="${declare_count + '건'}"></span></td>
                                        </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    
                    <th:block th:if="${search_userData == null}">
	                        <div id="card_bodyDiv" class="card-body">
	                            <div class="table-responsive">
	                                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
	                                    <thead>
	                                    <tr>
	                                        <th>#</th>
	                                        <th>신고자</th>
	                                        <th>공유공간</th>
	                                        <th>샵인샵</th>
	                                        <th>신고 일</th>
	                                        <th>상세</th>
	                                    </tr>
	                                    </thead>
	                                    <tbody id="user_table">
		                                    <tr th:each="list : ${declaration_list}">
		                                        <td><span th:text="${list.declare_id}"></span></td>
		                                        <td><span th:text="${list.mem_nickname}"></span></td>
		                                        <td><span th:text="${list.share_id}"></span></td>
		                                        <td><span th:text="${list.shop_id}"></span></td>
		                                        <td><span th:text="${list.dc_create_date}"></span></td>
		                                        <td>
		                                        	<a th:if="${list.share_id != 0}" th:href="@{/detailSpace(share_id=${list.share_id})}">바로가기</a>
		                                        	<a th:if="${list.shop_id != 0}" th:href="@{/detailShop(shop_type=${list.shop_type},shop_id=${list.shop_id})}">바로가기</a>
		                                        </td>
		                                        
		                                        <!--  <td><span th:if="${list.mem_space_regist} == 1">O</span>
		                                            <span th:if="${list.mem_space_regist} == 0">X</span></td> -->
		                                    </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
                    </th:block>
                    
                    <!-- <th:block th:unless="${search_userData == null}">
                     <div class="bd-top-gr pd_top_30" th:text='${"총 " + search_userData.size + "명의 회원이 있습니다."}'/>
                        <div class="card-body">
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>선택</th>
                                        <th>계정 상태</th>
                                        <th>방문수</th>
                                        <th>공간등록여부</th>
                                        <th>샵인샵 등록여부</th>
                                        <th>ID(이메일)</th>
                                        <th>닉네임</th>
                                        <th>연령대</th>
                                        <th>생성일</th>
                                        <th>최종 로그인 정보</th>
                                        <th>상세</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="list : ${search_userData}">
                                        <td><span th:text="${list.mem_id}"></span></td>
                                        <td><input type="checkbox"/></td>

                                        <td><span th:if="${list.mem_deleted} == 0">활성</span>
                                            <span th:if="${list.mem_deleted} == 1">비활성</span></td>

                                        <td><span th:text="${list.mem_login_count}"></span></td>

                                        <td><span th:if="${list.mem_space_regist} == 1">O</span>
                                            <span th:if="${list.mem_space_regist} == 0">X</span></td>

                                        <td><span th:if="${list.mem_space_regist} == 1">O</span>
                                            <span th:if="${list.mem_space_regist} == 0">X</span></td>

                                        <td><span th:text="${list.mem_email}"></span></td>
                                        <td><span th:text="${list.mem_nickname}"></span></td>
                                        <td><span>연령대</span></td>
                                        <td><span th:text="${list.mem_create_date}"></span></td>
                                        <td><span th:text="${list.mem_login_date}"></span></td>
                                        <td><a th:href="@{/detailUser(mem_id=${list.mem_id})}">바로가기</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </th:block> -->
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; We-up 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script>
	 $('#dataTable').DataTable({
		dom:'Bfrtip',
		buttons:[
			'excel'
		],
		order: [1, 'desc'],
		ordering: true,
		serverSide: false
	})

	//오늘
  $('#today').click(function(){
  	document.getElementById('start_date').valueAsDate = new Date();
  	document.getElementById('end_date').valueAsDate = new Date();
  });

	//날짜 객체 받아서 문자열로 리턴하는 함수
	function getDateStr(myDate){
		var myMonth = myDate.getMonth() + 1;
		var month = myMonth >= 10 ? myMonth : '0' + myMonth;
		var fake_day = myDate.getDate(); 
		var day = fake_day >= 10 ? fake_day : '0' + fake_day;
		return (myDate.getFullYear() + '-' + month + '-' + day);
	}

  //어제
  function lastYesterday() {
  	 var d = new Date();
  	  var dayOfMonth = d.getDate();
  	  d.setDate(dayOfMonth - 1);
  	  return getDateStr(d);
  }

  $('#yesterday').click(function(){
  	$("#start_date").val(lastYesterday());
  	document.getElementById('end_date').valueAsDate = new Date();
  });

  //일주일
  function lastWeek() {
    var d = new Date();
    var dayOfMonth = d.getDate();
    d.setDate(dayOfMonth - 7);
    return getDateStr(d);
  }

  $('#week').click(function(){
  	$("#start_date").val(lastWeek());
  	document.getElementById('end_date').valueAsDate = new Date();
  });

  //당월
  function thisMonth() {
    var d = new Date();
    var monthOfYear = d.getMonth();
    d.setDate(d.getDate() - d.getDate() + 1);
    return getDateStr(d);
  }

  $('#thisMonth').click(function(){
  	$("#start_date").val(thisMonth());
  	document.getElementById('end_date').valueAsDate = new Date();
  });
  
  //3개월
  function last3Month() {
    var d = new Date();
    var monthOfYear = d.getMonth();
    d.setMonth(monthOfYear - 3);
    return getDateStr(d);
  }

  $('#3month').click(function(){
  	$("#start_date").val(last3Month());
  	document.getElementById('end_date').valueAsDate = new Date();
  });
  
  //전월
  function prevMonth() {
    var d = new Date();
    var monthOfYear = d.getMonth();
    d.setMonth(monthOfYear - 1);
    return getDateStr(d);
  }
  
  $('#prevMonth').click(function(){
  	$("#start_date").val(prevMonth());
  	document.getElementById('end_date').valueAsDate = new Date();
  });
  
  // 검색버튼
 $('#searchUser_btn').click(()=>{
	 
	 /* if($('#start_date').val() == "" || $('#end_date').val() == ""){
		 alert('기간을 선택해주세요')
		 return
	 } */
	 
	 $.ajax({
		type:'post',
		url:'searchUser',
		contentType:'application/x-www-form-urlencoded;charset=utf-8',
		data : {
			  'mem_create_date1' : $('#start_date').val(),
			  'mem_create_date2' : $('#end_date').val(),
			  'mem_deleted' : $('#mem_deleted option:selected').val(),
			  'mem_email' : $('#detail_search').val()
		  },
		success:(data)=>{
			var table = "";
			$('#user_div').text('총 ' + data.length +'명의 회원이 있습니다.')
			$('#user_table').children().remove()
			for(user in data){
				table += '<tr>'
				table += '<td>'+data[user].mem_id+'</td>'
				table += '<td><input type="checkbox" id="checkbox"></td>'
				if(data[user].mem_deleted == 0){
					table += '<td>활성</td>'
				}else{
					table += '<td>비활성</td>'
				}
				table += '<td>'+data[user].mem_login_count+'</td>'
				
				if(data[user].mem_space_regist == 1){
					table += '<td>O</td>'
				}else{
					table += '<td>X</td>'
				}
				
				if(data[user].mem_shop_regist == 1){
					table += '<td>O</td>'
				}else{
					table += '<td>X</td>'
				}
				table += '<td>'+data[user].mem_email+'</td>'
				table += '<td>'+data[user].mem_nickname+'</td>'
				table += '<td>'+data[user].mem_age+'</td>'
				table += '<td>'+data[user].mem_create_date+'</td>'
				table += '<td>'+data[user].mem_login_date+'</td>'
				table += '<td><a href=detailUser?mem_id='+data[user].mem_id+'>바로가기</a></td>'
				table += '</tr>'
			}
			$('#user_table').append(table)
		},error:(error)=>{
			alert('유저 검색 실패')
			console.log(error)
		}
	 })
 })
 
  
</script>
</body>

</html>
