<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>We-up 관리자</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<style>
th, tr, td {
	text-align: center;
}
</style>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<th:block th:replace="/../hf/sidebar.html"></th:block>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<th:block th:replace="/../hf/header.html"></th:block>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="text-gray-800 head_title">샵인샵(배달아이템) 수정</h1>
					<th:block th:each="shop : ${shop}">

						<!-- DataTales Example -->
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">샵인샵(배달아이템) 상세</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<form id="modify_shopForm" action="modifyShop" method="post">
										<input type="hidden" id="mem_id" name="mem_id" th:value="${shop.mem_id}">	
										<input type="hidden" id="shop_id"name="shop_id" th:value="${shop.shop_id}">
										<input type="hidden" id="shop_type"name="shop_type" th:value="${shop.shop_type}">
										<table class="table table-bordered" width="100%"
											cellspacing="0">
											<tr>
												<th>업종 카테고리</th>
												<td>무인판매</td>
												<th>제목</th>
												<td><input type="text" name="shop_title" th:value="${shop.shop_title}"></td>
											</tr>
											<tr>
												<th>상태</th>
												<td th:if="${shop.shop_deleted} == 0"><input
													type="checkbox" class="shop_deleted" name="shop_deleted"
													value="0" checked>활성 &nbsp;&nbsp; <input
													type="checkbox" class="shop_deleted" name="shop_deleted"
													value="1">비활성</td>
												<td th:if="${shop.shop_deleted} == 1"><input
													type="checkbox" class="shop_deleted" name="shop_deleted"
													value="0">활성 &nbsp;&nbsp; <input type="checkbox"
													class="shop_deleted" name="shop_deleted" value="1"
													checked>비활성</td>
												<th>ID(이메일)</th>
												<td><a
													th:href="@{/detailUser(mem_id=${shop.mem_id})}"
													th:text="${shop.mem_email}"></a>&nbsp;&nbsp;
													<button type="button" id="findEmail" class="btn btn-secondary">변경하기</button>
												</td>
											</tr>
											<tr>
												<th>조회수</th>
												<td th:text="${shop.shop_view_count}"></td>
												<th>등록일(최종수정일자)</th>
												<td>
												<span
													th:if="${shop.shop_modify_date} == null"><span
														th:text="${shop.shop_create_date}"></span></span> <span
													th:if="${shop.shop_modify_date} != null"><span
														th:text="${shop.shop_modify_date}"></span></span>
												</td>
											</tr>
											<tr>
												<th>찜하기</th>
												<td th:text="${shop.shop_wish_count}"></td>
												<th>공유수</th>
												<td th:text="${shop.shop_share_count}"></td>
											</tr>
											<tr>
												<th>게시글 상세보기</th>
												<td><a th:href="@{https://becomeceo.net/ShopItemDetailsPage/}+${shop.shop_id}" target="_blank">게시글 바로가기</a></td>
												<th>상권보장</th>
												<td>
													<input type="text" name="shop_com_area" th:value="${shop.shop_com_area}">
												</td>
											</tr>
											<tr>
												<th>썸네일</th>
												<td>
		                                            <a th:each="mainImg : ${mainImg}" th:href="@{https://weup-bucket.s3.ap-northeast-2.amazonaws.com/images/shop/}+${mainImg}" target="_blank">
		                                            	<img style="width:200px;height:240px;" th:src="@{https://weup-bucket.s3.ap-northeast-2.amazonaws.com/images/shop/}+${mainImg}">
		                                            </a>
		                                        </td>
												<th>상세 이미지</th>
												<td>
		                                        	<a th:each="contentImg : ${contentImg}" th:href="@{https://weup-bucket.s3.ap-northeast-2.amazonaws.com/images/shop/}+${contentImg}" target="_blank">
		                                            	<img style="width:200px;height:240px;" th:src="@{https://weup-bucket.s3.ap-northeast-2.amazonaws.com/images/shop/}+${contentImg}">
		                                            </a>
		                                        </td>
											</tr>
											<tr>
												<th>상세 내용</th>
												<td colspan="3"><textarea name="shop_desc"
														th:text="${shop.shop_desc}" rows=5 style="width: 100%;"></textarea></td>
											<tr>
										</table>

										<div class="modal-footer">
											<button type="submit" id="modify" class="btn btn-secondary"
												data-dismiss="modal">수정</button>
											<button type="button" class="btn btn-primary"
												onclick="location.href='shop_list?shop_type=2'">목록</button>
										</div>
									</form>
								</div>
							</div>

						</div>
					</th:block>
				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; We-up 2020</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>


		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>
		<script>
  	
		  	// 체크박스 하나만 설정
		  	$('.shop_deleted').click(function(){
		  		$('input[type="checkbox"][name="shop_deleted"]').prop('checked',false)
		  		$(this).prop('checked', true)
		  	})
		  	
		  	var mem_id = $('#mem_id').val()
			var shop_id = $('#shop_id').val()
		  	
		  	$('#findEmail').click(()=>{
				window.open("find_emailPage?mem_id="+mem_id+"&shop_id="+shop_id,"이메일 찾기", "width=1400, height=550, left=100, top=50"); 
			})
		</script>
</body>

</html>
