<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <title>영상업로드</title>
       
        <style>
            body,html{
                margin:0;padding:0;
                width:100%;height:100%; background:linear-gradient('90deg','#202020','#efefef');
            }
            #video_result_area{
                width:60%;height:auto;
            }
            #loading-progress{
                position:fixed;background-color:rgba(50,200,240,0.5);flex-flow:row wrap;justify-content:center;align-items:center;color:white;
                font-size:40px;font-weight:bold;display:none; width:50%;height:50%;z-index:9;left:50%;top:50%;transform:translateX(-50%)translateY(-50%)
            }
            fieldset{
                width:100%;height:100px;background-color:rgba(50,200,240,0.5);display:block;
            }
        </style>

    </head>
    <body>
        <h1>영상편집샘플(비디오)</h1>
        <h5>합칠 동영상들(1,2,3...take)을 선택해주세요. (3개이하의 영상을 올려주세요.)</h5>

        <fieldset>
            <form id='uploadform' method='post' action='/upload_transition' enctype='multipart/form-data' onSubmit="return upload_submit(event);">
                <label id='file'>동영상(다중)첨부:트랜지션(방법1)</label><input type='file' id='file' name='file' multiple/>
                <input type='hidden' name='transition_method' value=0>
                <input type='submit' value='upload videos' name='submit'/>
            </form>  
        </fieldset>
        <fieldset>
            <form id='uploadform2' method='post' action='/upload_transition2' enctype='multipart/form-data' onSubmit="return upload_submit2(event);">
                <label id='file2'>동영상(다중)첨부:트랜지션(방법2)</label><input type='file' id='file2' name='file' multiple/>
                <input type='hidden' name='transition_method' value=1>
                <input type='submit' value='upload videos(with transition)' name='submit'/>
            </form>            
        </fieldset>
        <fieldset>
            <form id='uploadform3' method='post' action='/api/file/upload' enctype='multipart/form-data' >
                <label id='file3'>파일업로드</label><input type='file' id='file3' name='file' multiple/>
                <input type='submit' value='upload videos' name='submit'/>
            </form>  
        </fieldset>

        <div id='video_result_area'>
            <video controls id='video_element'>
                <source src='' type='video/mp4' id='video_source'/>
            </video>
        </div>

        <div id='loading-progress'>
            <span>Loading...</span>
            <p>비디오 병합 처리중입니다. 서버의 cpu&GPU성능에 따라서 처리시간은 달라질수있습니다.<br/>
            합칠 영상끼리의 프레임크기(해상도픽셀크기)가 서로 상이한 경우 처리되지 않을수 있습니다.</p>
        </div>

        <script>
            var video_element=document.getElementById('video_element');
            var video_source_element=document.getElementById('video_source');

            function upload_submit(e){
               e.preventDefault();

               var formdata=new FormData(document.getElementById('uploadform'));
                $.ajax({
                    url:'/upload_transition',
                    type:'post',
                    data:formdata,
                    cache:false,
                    contentType:false,
                    processData:false,
                    error:function(jqxHR,textStatus,errorThrown){

                    },
                    beforeSend: function(){
                        console.log('ajax startssss:');
                        $('#loading-progress')[0].style.display='flex';
                    },
                    complete: function(){
                        $('#loading-progress').hide();
                    },
                    success:function(data){
                        console.log('result datasss;',data);
                        
                        //let url=URL.createObjectURL(data);
                        //console.log('urlsss read 가능??:',url);
                        //http://localhost:3000/processfiles/xxxxxxxxresultfile.mp4

                        video_source_element.src='http://localhost:3001/processfiles/'+data.video_result;
                        video_element.load();
                    }
                });
               /* $(document).ajaxStart(function(){
                    console.log('ajax startssss:');
                    $('#loading-progress')[0].style.display='flex';
                })
                $(document).ajaxStop(function(){
                    $('#loading-progress').hide();
                })*/
                return false;
            }
            function upload_submit2(e){
               e.preventDefault();

               var formdata=new FormData(document.getElementById('uploadform2'));
                $.ajax({
                    url:'/upload_transition',
                    type:'post',
                    data:formdata,
                    cache:false,
                    contentType:false,
                    processData:false,
                    error:function(jqxHR,textStatus,errorThrown){

                    },
                    beforeSend: function(){
                        console.log('ajax startssss:');
                        $('#loading-progress')[0].style.display='flex';
                    },
                    complete: function(){
                        $('#loading-progress').hide();
                    },
                    success:function(data){
                        console.log('result datasss;',data);
                        
                        //let url=URL.createObjectURL(data);
                        //console.log('urlsss read 가능??:',url);
                        //http://localhost:3000/processfiles/xxxxxxxxresultfile.mp4

                        video_source_element.src='http://localhost:3001/processfiles/'+data.video_result;
                        video_element.load();
                    }
                });
               /* $(document).ajaxStart(function(){
                    console.log('ajax startssss:');
                    $('#loading-progress')[0].style.display='flex';
                })
                $(document).ajaxStop(function(){
                    $('#loading-progress').hide();
                })*/
                return false;
            }
        </script>

    </body>
</html>